{{define "title"}}Forgot Password{{end}}

{{- define "main" -}}

    <h1>I Forgot My Password</h1>

    <form action="" method="post">
        {{ .csrfField }}

        <p class="mb-3 font-weight-normal">Fill in your email address, and we will send a reset link.</p>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email"
                   placeholder="Enter email" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <i class="fa fa-send-o"></i>
            Send me a link
        </button>

    </form>


{{ end }}
