{{define "title"}}User Login{{end}}

{{- define "main" -}}

    <h1>User Login</h1>

    <form action="" method="post">
        {{ .csrfField }}
        {{ .errorMsg }}

        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email"
                   value="{{ .email }}"
                   placeholder="Enter email" required>
            {{ .emailError }}

        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password"
                   placeholder="Password" value="{{ .password }}"
                   required>
            {{ .passwordError }}
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            <i class="fa fa-sign-in"></i>
            Login
        </button>

        <div class="text-center mt-3">
            <p>
                <a href="../signup/">No Account? Sign up</a>
            </p>
            <p>
                <a href="../forgot-password/">Forgot Password</a>
            </p>
        </div>

    </form>


{{ end }}
