{{define "title"}}Mini App Sign Up{{end}}

{{- define "main" -}}

    <h1>Mini App Sign Up</h1>


    <form method="post" action="">
        {{ .csrfField }}

        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="fa fa-user-plus"></i>
            Create Account
        </button>
    </form>
    
    


{{ end }}
